/* CHUM CSS */

.ui.menu .manyeta.active.item,
.ui.manyeta.menu .active.item{
	border-color:#564F8A!important;
	color:#564F8A!important}

.ui.inverted.manyeta.menu{background-color:#564F8A}
.ui.inverted.manyeta.pointing.menu .active.item:after{background-color:#564F8A}

i.manyeta.basic.icon{color:#564F8A!important}
i.inverted.manyeta.basic.icon{color:#564F8A!important}

.ui.manyeta.buttons .button,
.ui.manyeta.button{background-color:#564F8A;color:#FFF}

.ui.manyeta.buttons .button:hover,
.ui.manyeta.button:hover,
.ui.manyeta.buttons .active.button,
.ui.manyeta.button.active{background-color:#3E3773;color:#FFF}

.ui.manyeta.buttons .button:active,
.ui.manyeta.button:active{background-color:#2E2860;color:#FFF}

.ui.manyeta.header {
  color: #564F8A !important;
}

.ui.manyeta.dividing.header {
  border-bottom: 3px solid #564F8A;
}

.ui.inverted.manyeta.header {
  background-color: #564F8A !important;
  color: #FFFFFF !important;
}

i.manyeta.icon {
  color: #564F8A !important;
}

i.inverted.manyeta.icon {
  background-color: #564F8A !important;
  color: #FFFFFF !important;
}

/*--- manyeta ---*/
.ui.manyeta.labels .label,
.ui.manyeta.label {
  background-color: #564F8A !important;
  border-color: #564F8A !important;
  color: #FFFFFF !important;
}
.ui.labels .manyeta.label:before,
.ui.manyeta.labels .label:before,
.ui.manyeta.label:before {
  background-color: #564F8A !important;
}
/* Hover */
a.ui.manyeta.labels .label:hover,
.ui.manyeta.labels a.label:hover,
a.ui.manyeta.label:hover {
  background-color: #3E3773 !important;
  border-color: #3E3773 !important;
  color: #FFFFFF !important;
}
.ui.labels a.manyeta.label:hover:before,
.ui.manyeta.labels a.label:hover:before,
a.ui.manyeta.label:hover:before {
  background-color: #3E3773 !important;
}
/* Corner */
.ui.manyeta.corner.label,
.ui.manyeta.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.ui.manyeta.ribbon.label {
  border-color: #3E3773 !important;
}

.ui.manyeta.progress .bar {
  background-color: #564F8A;
}
.ui.manyeta.segment {
  border-top: 0.2em solid #564F8A;
}
.ui.inverted.manyeta.segment {
  background-color: #564F8A !important;
  color: #FFFFFF !important;
}